<div class="container">
  <div class="form">
    <div class="header">
      <span>Vũ trụ sẽ cho bạn biết bạn nên ăn gì!</span>
    </div>
    <div class="selectedOption">
      <span>{{optionSelected}}</span>
    </div>
    <div class="buttonContainer">
      <button *ngIf="!hiddenButton && selectCount === 0" class="custom-btn btn-13" (click)="select()">
        <span>Tiểu nhị, lên món</span>
      </button>
      <button *ngIf="!hiddenButton && selectCount !== 0" class="custom-btn btn-13" (click)="select()">
        <span>Chê! Món khác</span>
      </button>
    </div>
  </div>
</div>
<div *ngIf="showLoading" class="cssload-container">
  <app-loading></app-loading>
</div>
<div *ngIf="hiddenButton" class="letter-container">
  <app-letter></app-letter>
</div>
