@keyframes slide {
  0%{
    background-position-x: 0;
  }
  50%{
    background-position-x: 500%;
  }
  100%{
    background-position-x: 1200%;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    width: 28vw;
    @media screen and (max-width: 1600px) {
      width: 35vw;
    }
    @media screen and (max-width: 1400px) {
      width: 38vw;
    }
    @media screen and (max-width: 500px) {
      width: 90vw;
    }
    height: auto;
    padding: 5px 5px 5px 5px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    .header {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 35px;
        @media screen and (max-width: 500px) {
          font-size: 18px;
        }
        user-select: none;
        color: white;
        background: linear-gradient(90deg, #46E59B 0%, #2B7EF2 100%);
        background-size: 110%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: slide 3s linear infinite alternate ;
      }
    }
    .selectedOption {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 50px;
        @media screen and (max-width: 500px) {
          font-size: 30px;
        }
        color: coral;
        user-select: none;
        font-weight: bold;
      }
    }
    .buttonContainer {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        height: 40px;
        span {
          font-size: 20px;
        }
      }
    }
  }
}

.custom-btn {
  width: 80%;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 13 */
.btn-13 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}

.btn-14 {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #E8411D 0%, #E19D8F 74%);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #E8411D 0%, #E19D8F 74%);
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #fff;
}
.btn-14:hover:after {
  top: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  opacity: 0.7;
}

.makeMeIntransigentContainer {
  position: fixed;
  height: 80px;
  width: 100vw;
  bottom: 10px;
  z-index: 9999;
  @media screen and (max-width: 500px) {
    top: 10px !important;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 22.4vw;
    @media screen and (max-width: 1600px) {
      width: 35vw;
    }
    @media screen and (max-width: 1400px) {
      width: 38vw;
    }
    @media screen and (max-width: 500px) {
      width: 90vw;
    }
  }
}
.information {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: floralwhite;
}
